---
# file: roles/fish/tasks/main.yml

- name: Tap homebrew repositories for fisherman
  homebrew_tap: name={{ item }}
  with_items:
    - fisherman/tap

  - name: Remove homebrew packages
    homebrew: name={{ item }} state=absent
    with_items:
    - thefuck
 
- name: Install homebrew packages
  homebrew: name={{ item }}
  with_items:
    - fish
    - peco
    - ghq
    - fisherman
    - fzf

- name: Search path of fish
  command: which fish
  register: which_fish
  ignore_errors: True
  changed_when: false

- debug: msg="{{ which_fish.stdout }}"

#
# login shell settings, you will be ased user's password when system switches to fish.
#

- name: Adding fish to shells
  lineinfile:
    path: /etc/shells
    regexp: "^{{ which_fish.stdout }}$"
    line: "{{ which_fish.stdout }}"
  become: true
  become_user: root

# - name: Check current login shell
#   shell: dscl . read ~ UserShell | awk '{print $2}'
#   register: osx_login_shell_current_login_shell
#   changed_when: false

# - name: Change login shell
#   shell: >
#     chpass -s {{ which_fish.stdout }}
#   when: osx_login_shell_current_login_shell.stdout != which_fish.stdout
#   register: result
#   until: result.rc == 0
#   retries: 3

#
# install fisher plugins
#

- name: Uninstall fish plugins
  shell: fisher rm {{ item.name | default(item) }}
  args:
    executable: "{{ which_fish.stdout }}"
    removes: "{{ ansible_env.HOME }}/.config/fisherman/{{ item.creates | default(item) }}"
  with_items:
    - { name: omf/theme-bobthefish, creates: bobthefish }
    - { name: hauleth/agnoster, creates: agnoster }
    - { name: oh-my-fish/plugin-peco, creates: peco }

- name: Install fish plugins
  shell: fisher {{ item.name | default(item) }}
  args:
    executable: "{{ which_fish.stdout }}"
    creates: "{{ ansible_env.HOME }}/.config/fisherman/{{ item.creates | default(item) }}"
  with_items:
    - { name: omf/theme-bobthefish, creates: bobthefish }
    - { name: 0rax/fish-bd, creates: bd }
    - { name: oh-my-fish/plugin-balias, creates: balias }
    - { name: yoshiori/fish-peco_select_ghq_repository, creates: peco_select_ghq_repository }
    - fzf
    - z
    - spin

- name: Install config in global fish configuration
  copy:
    src: config.fish
    dest: "{{ ansible_user_dir }}/.config/fish/config.fish"
