---

- hosts: localhost
  tasks:
  - name: Update homebrew itself first
    homebrew: update_homebrew=yes

  - name: Tap homebrew repositories
    homebrew_tap: name={{ item }}
    with_items:
      # - homebrew/dupes
      # - homebrew/binary
      - sanemat/font
      - classmethod/repos

  - name: Remove homebrew packages
    homebrew: name={{ item }} state=absent
    with_items:
      - git-flow
 
  - name: Install homebrew packages
    homebrew: name={{ item }}
    with_items:
      - tree
      - wget
      - watch
      - colordiff
      - coreutils # for gdate
      - jq
      - pt
      - git-flow-avh
      - git-secrets
      - hub
      - mysql
      - nkf
      - watch
      - aurl
      - base64
      - giter8
      - httpie
      - rcmdnk/rcmdnkpac/parse-plist

  - name: Install Ricty font
    homebrew:
      name: ricty
      install_options: powerline,vim-powerline

  - name: Copy font file
    shell: cp -f $(brew --cellar ricty)/*/share/fonts/Ricty*.ttf ~/Library/Fonts/
    args:
      creates: ~/Library/Fonts/Ricty-Bold.ttf

  - name: Run fc-cache
    shell: fc-cache -vf

  - name: Install Homebrew cask packages
    homebrew_cask: name={{ item }}
    with_items:
      - iterm2
      # - virtualbox
      - docker
      - mysqlworkbench
      # - intellij-idea
