---
# file: roles/zsh/tasks/main.yml

- name: Install zsh
  homebrew:
    name: zsh
    state: present

- name: Search path of zsh
  command: >
    which zsh
  register: which_zsh
  ignore_errors: True

- debug: msg="{{which_zsh.stdout}}"

#
# login shell settings, you will be ased user's password when system switches to zsh.
#

- name: Grep shells
  shell: >
    grep "^{{which_zsh.stdout}}$" /etc/shells
  register: grep_shells 
  ignore_errors: True

- debug: msg="{{grep_shells}}"
  when: grep_shells.rc == 0

- name: Append shells
  shell: >
    echo {{which_zsh.stdout}} >> /etc/shells
  when: grep_shells.rc != 0


- name: Check current login shell
  shell: dscl . read ~ UserShell | awk '{print $2}'
  register: osx_login_shell_current_login_shell
  changed_when: false

- name: Notify please input password
  shell: >
    osascript -e 'display notification "Prease input password in terminal" with title "osx-provisioning"'
  when: osx_login_shell_current_login_shell.stdout != osx_login_shell_shell
- name: Change login shell
  shell: >
    chpass -s {{which_zsh.stdout}}
  when: osx_login_shell_current_login_shell.stdout != osx_login_shell_shell
  register: result
  until: result.rc == 0
  retries: 3

#
# install antigen and prezto
#

- name: Install antigen
  homebrew:
    name: antigen
    state: present

- name: Deploy zshrc
  template: src=zshrc.j2 dest=~/.zshrc force=True

- name: Install prezto through antigen
  shell: >
    source ~/.zshrc && antigen bundle sorin-ionescu/prezto
    executable={{which_zsh.stdout}}
#   ignore_errors: True

- name: Create symlink for prezto
  file:
    src: ~/.antigen/bundles/sorin-ionescu/prezto
    dest: ~/.zprezto
    state: link

- name: Remove evacuated .zshrc
  file:
    path: /tmp/.zshrc
    state: absent

- name: Evacuate .zshrc 
  command: mv ~/.zshrc /tmp/.zshrc

- name: Apply prezto setting
  shell: >
    setopt EXTENDED_GLOB; for rcfile in "${ZDOTDIR:-$HOME}"/.zprezto/runcoms/^README.md(.N); do; ln -s "$rcfile" "${ZDOTDIR:-$HOME}/.${rcfile:t}"; done;
    executable={{which_zsh.stdout}}

- name: Append evacuated settings
  shell: >
    cat /tmp/.zshrc >> ~/.zshrc

- name: Get path of original preztorc 
  command: readlink ~/.zpreztorc
  register: zpreztorc_path

- name: Deploy preztorc_template
  template: src=zpreztorc.j2 dest={{zpreztorc_path.stdout}} force=True
